{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div class="starter-template">
            <h1>Reservation List</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">User</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Reservation date</th>
                    <th scope="col">Code</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <th scope="row">{{ reservation['id'] }}</th>
                        <td>{{ reservation['email'] }}</td>
                        <td>{{ reservation['user_email'] }}</td>
                        <td>{{ reservation['comment'] }}</td>
                        <td>{{ reservation['date'] }}</td>
                        <td><a href="{{ path('edit_reservation_form_page', {code: reservation['code']}) }}"> {{ reservation['code'] }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>        </div>

    </main><!-- /.container -->
{% endblock %}